.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .logo{
        width: 15%;
        font-size: 1.5rem;
        font-weight: bold;
        color: green;
    }

    .menu{
        width: 60%;
        display: flex;
        justify-content:flex-end;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            gap: 2rem;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    transition: color 0.3s ease;
                    &:hover{
                        color: green;
                    }
                }
            }
        }
    }

    .icon{
        width: 15%;
        display: flex;
        justify-content:flex-start;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            gap: 2rem;
            li{
                a{
                    text-decoration: none;
                    color: black;
                    transition: color 0.3s ease;
                    &:hover{
                        color: green;
                    }
                }
            }
        }
    }

    .bars{
        display: none;
    }
}


@media screen and (min-width: 300px) and (max-width: 576px){
    .header{
        width: 90%;
        .menu{
            display: none;
        }
        .icon{
            display: none;
        }
        .bars{
            display: block;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
}